#archive-product, .widget_siteorigin-panels-postloop {
  background-color: white;
  .product {
    width: 24.6%;
    display: inline-block;
    border-bottom: none;
    text-align: center;

    .post-thumbnail img {
      width: 100%;
      height: auto;
      border: 2px solid #e5e5e5;
      border-radius: 2px;

    }
    .product-header {
      font-family: "Arial";
      .entry-title a {
        font-size: 14px;
        font-weight: normal;
        color: black;

        text-transform: none;
      }

    }
    .product-price {
      color: #636363;
      font-size: 14px;

      span {
        color: #fe0000;
      }
    }
  }
  .pagination li {
    margin-top: 10px;
  }

}

.widget_siteorigin-panels-postloop {
  .panel-widget-style {
    text-align: left !important;
  }
  article {
    vertical-align: top;
    padding: 15px;
  }
}