.blog-posts, #archive, #archive-product, #archive-customer, #archive-library {
  background-color: white;
  border-bottom: 3px double #e3e5e5;
  .list-posts {
    padding-top: 5px
  }
  .blog-posts {
    font-size: 15px;
    background-color: white;
    text-align: justify;
    border-bottom: 3px double #e3e5e5;
  }

  article {
    vertical-align: top;
    padding: 15px;
    display: inline-block;
    border-bottom: 1px solid #e2e2e2;
  }
  .entry-title {
    font-size: 15px;
    color: #0194cb;
    font-weight: bold;
  }

  .entry-thumbnail {
    display: inline-block;
    figure {
      margin-right: 20px;
      border: 1px solid #e2e2e2;
      border-radius: 2px;
      img {
        width: 100%;
        height: auto;
        max-height: 190px;
      }
    }
  }
  .content {
    display: inline-block;
    vertical-align: top;
  }
  .entry-content {
    font-size: 13px;
    a.read-more {
      margin-top: 20px;
      display: table;
      padding: 5px 15px;
      color: white;
      background-color: #107fc9;
      white-space: nowrap;
      border-radius: 3px;
    }
  }
  .entry-header {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .blog-title, .archive-title {
    border-bottom: 5px double #0194cb;
  }
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

}

@media screen and (max-width: 480px) {
  #archive-product, #archive-customer, #archive-library {
    article {
      width: 49% !important;
    }
  }
  .list_product_category .product, .clone_product_category .product {
    width: 49% !important;
  }
}

.blog-posts, #archive {
  article {
    width: 100%;
  }
  .entry-thumbnail {
    width: 33%
  }
  .content {
    width: 66%
  }
  @media screen and (max-width: 480px) {
    .content{width: 65%}
  }

}